@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}

.typewriter {
  overflow: hidden;
  border-right: 2px solid white;
  white-space: nowrap;
  animation: typing 3s steps(30, end), blink 0.7s step-end infinite, flicker 2s infinite;
}


.neon-emerald {
  color: #34d399;
  text-shadow:
    0 0 5px #34d399,
    0 0 10px #34d399,
    0 0 20px #34d399,
    0 0 40px #10b981,
    0 0 80px #10b981;
}

/* @keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
  }
  20%, 24%, 55% {
    opacity: 0.8;
  }
} */

/* .flicker {
  animation: flicker 2s infinite;
} */

@keyframes floaty {
  0% { transform: translateY(0) translateX(0) rotate(0deg); }
  50% { transform: translateY(-20px) translateX(10px) rotate(10deg); }
  100% { transform: translateY(0) translateX(0) rotate(0deg); }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:animate-floaty { animation: none !important; }
}


.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9990;
}


.modal {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);

  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9991;
}